@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
} */


/* ChatGPT textarea scrollbar style */
/* textarea::-webkit-scrollbar {
	width: 4px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 100, 0.4);
	border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
	background: transparent;
} */

/* Textarea hover color */
textarea:hover {
	border-color: var(--input-bd-focus);
}

/* Custom textarea scrollbar style */
textarea {
	scrollbar-width: thin;
	scrollbar-color: #888 #f1f1f1;
}

textarea::-webkit-scrollbar {
	width: 4px;
}

textarea::-webkit-scrollbar-track {
	background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 50px;
	border: 2px solid #f1f1f1;
}

textarea::-webkit-scrollbar-thumb:hover {
	background: #555;
}

div.mantine-Textarea-root {
	transition: tab-size 0.5s linear;
}

/* Custom QR and Textarea style to remove border */
.active-qr textarea.mantine-Textarea-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Input Border Bottom */
/* .input-border-bottom {
	input {
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		padding-left: 0;
		text-align: center;
		padding-right: 0;
	}
} */

.floating-input.input-border-bottom {
	position: relative;

	input {
		position: relative;
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		text-align: start;
		bottom: 0;
		padding: 0;
		padding-top: 12px;
		font-size: var(--mantine-font-size-sm);
	}

	label {
		user-select: none;
		position: absolute;
		z-index: 1;
		pointer-events: none;
		/* top: 19px; */
		top: 7px;
		color: var(--mantine-color-placeholder);
		font-weight: 400;
		/* font-size: var(--mantine-font-size-xs); */
		font-size: var(--mantine-font-size-sm);
		/* width: max-content; */
		/* font-size: 11px; */
		transition: color 250ms ease, transform 250ms ease, font-size 250ms ease;
		
		&[data-floating=true] {
			top: 0;
			/* bottom: -12px; */
			/* transform: translateY(-20px); */
			/* font-size: 12px; */
			width: max-content;
			font-size: var(--mantine-font-size-xs);
			/* color: var(--mantine-color-text); */
		}
	}
}